.container {
  display: block;
  margin: 40px auto;
  text-align: center;
  max-width: 320px;
  padding: 0;
  background-color: #1a1b21;
  color: white;
  border-radius: 10px;
}

img {
  border-radius: 10px 10px 0px 0px;
}

h1 {
  font-size: 25px;
  margin-top: 20px;
}

.job-title {
  color: #f3bf99;
  margin-bottom: 7px;
  font-size: 13px;
}

.website {
  font-size: 10px;
}

.big-links {
  font-size: 14px;
  width: 115px;
  margin: 0 18px;
}

h2 {
  margin: 20px 35px 10px;
  font-size: 16px;
  text-align: left;
}

.info {
  font-size: 10px;
  margin: 0 35px;
  text-align: left;
}

footer {
  margin: 20px 0;
  padding: 20px;
  background-color: #161619;
  border-radius: 0 0 10px 10px;
}

.small-links {
  width: 25px;
  height: 25px;
  margin: 0 20px;
}

.small-icons {
  position: relative;
  right: 7px;
  bottom: 6px;
}
